/* =========================
    VARIABLES
========================= */
:root {
    --bg: #f3f4f6;

    --card: #ffffff;
    --card-soft: #f8fafc;

    --text: #0f172a;
    --muted: #64748b;

    /* COLOR PRINCIPAL */
    --primary: #2563eb;
    --primary-hover: #1d4ed8;
    --primary-soft: rgba(37, 99, 235, 0.1);

    /* SUCCESS */
    --success: #16a34a;
    --success-bg: #ecfdf5;
    --success-border: #86efac;

    /* WARNING */
    --warning: #f97316;
    --warning-bg: #fff7ed;
    --warning-border: #fdba74;

    /* DANGER */
    --danger: #dc2626;
    --danger-bg: #fee2e2;
    --danger-border: #f87171;

    /* INFO */
    --info: #0369a1;
    --info-bg: #e0f2fe;
    --info-border: #7dd3fc;

    --border: #e2e8f0;

    --shadow: 0 10px 30px rgba(15, 23, 42, 0.08);
    --shadow-hover: 0 14px 30px rgba(15,23,42,.10);
    --shadow-hero: 0 18px 38px rgba(15,23,42,.12);
    --radius: 18px;
    --max-width: 1120px;
}

body.dark {
    --bg: #0b1220;
    --card: #111827;
    --card-soft: #1f2937;
    --text: #e5e7eb;
    --muted: #94a3b8;
    --bg-2:#4e5c76;
    --primary: #60a5fa;
    --primary-hover: #93c5fd;
    --primary-soft: rgba(96, 165, 250, 0.12);

    --border: #243041;

    --shadow: 0 10px 30px rgba(0, 0, 0, 0.35);
    --shadow-hover: 0 14px 30px rgba(0, 0, 0, 0.45);
    --shadow-hero: 0 18px 38px rgba(0, 0, 0, 0.5);
}
